@font-face {
    font-family:"NunitoSans";
    src: url("../public/font/NunitoSans_7pt_Condensed-Regular.woff"),
         url("../public/font/NunitoSans_7pt_Condensed-Regular.ttf");
}

h1, h2, h3, h4{
    font-family: "NunitoSans";
    font-weight: 600;
}

.container-first-title{
    height: 100vw;
    background-image: url("../public/img/hero-bg-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-title{
    text-align: center;    
    font-size: 10vw;
}

.container-about{
    box-shadow: 5px 5px 5px whitesmoke, -5px -5px 5px whitesmoke;
}


